.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.petCard {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Tamaño fijo para las tarjetas */
  text-align: center;
}

.petCard img {
  width: 100px; /* Ancho máximo de las imágenes */
  height: 100px; /* Alto máximo de las imágenes */
  object-fit: cover; /* Para que las imágenes se ajusten al espacio */
  border-radius: 8px; /* Esquinas redondeadas */
}